.contact {
  @include grid-column-setup;

  padding-top: $padding-top-md;

  @include respond(phone) {
    padding-top: $padding-top-sm;
  }

  &__heading {
    grid-column: main-start / main-end;
    margin-bottom: 3rem;

    & p {
      font-size: $default-font-size;
    }
  }

  &__card {
    grid-column: main-start / main-end;
    display: flex;
    padding-bottom: $padding-bottom-md;

    @include respond(tab-port) {
      flex-direction: column;
      align-content: stretch;
    }

    @include respond(phone) {
      padding-bottom: $padding-bottom-sm;
    }
  }

  &__side {
    flex: 3;
  }

  &__img {
    display: block;
    max-width: 100%;
  }

  &__address a {
    color: $color-primary;
  }

  &__form {
    flex: 7;

    @include respond(tab-port) {
      margin-bottom: 6rem;
    }
  }

  &__input {
    display: block;
    width: 80%;

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__submit {
    @include respond(tab-port) {
      width: 100%;
    }
  }
}
